@use "/src/scss/base/variables.scss" as *;
@use "/src/scss/base/mixins.scss" as *;

.btn {
  @include btn;

  &-send {
    height: 60px;
    width: 180px;
    padding: 15px 50px;
    background: $ui-color-yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 16px;
    font-weight: 700;
  }
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 24px;
  }
}
