@use "/src/scss/base/variables.scss" as *;

@mixin btn {
  width: 244px;
  height: 60px;
  padding: 19px 50px;
  background: black;
  text-align: center;
  color: $ui-color-yellow;
  font-size: 20px;
}

@mixin highlight {
  color: $ui-color-blue;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
}

@mixin ad-icon {
  content: "";
  display: block;
  position: absolute;
  left: -40px;
  width: 24px;
  height: 24px;
}
