@use "/src/scss/base/variables.scss" as *;
@use "/src/scss/base/mixins.scss" as *;

.about {
  padding-top: 70px;
  &__descr {
    margin-top: 25px;
    color: #777777;
    font-size: 16px;
    line-height: 32px;
    span {
      @include highlight;
    }
  }
  &__wrapper {
    padding-top: 32px;
    margin: 0;
  }
  &__img {
    margin-top: 32px;
  }
}
