@use "/src/scss/base/variables.scss" as *;
@use "/src/scss/base/mixins.scss" as *;

.footer {
  padding-top: 20px;
  &__img {
    padding-top: 25px;
    display: block;
    margin: 0 auto;
  }
  &__links {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
    color: #000;
  }
  :is(&__privacy-policy, &__license) {
    color: #000;
    text-decoration: none;
  }
  &__privacy-policy {
    margin-top: 15px;
  }
  &__copyright {
    padding: 13px 33px;
    text-align: center;
    font-size: 12px;
    background-color: #000;
    color: #fff;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    &__content {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      font-size: 18px;
      align-items: center;
      margin-bottom: 13px;
    }
    &__wrapper {
      display: flex;
      flex-direction: row;
      gap: 32px;
    }
    &__links {
      flex-direction: row;
      gap: 32px;
    }
    &__privacy-policy {
      margin-top: 0;
    }
  }
}
