@use "/src/scss/base/variables.scss" as *;

.promo {
  height: 100vh;
  background: url("/src/img/promo/bg-main.png") center center / cover no-repeat;

  &__logo {
    display: block;
    padding-top: 20px;
    margin: 0 auto;
  }
  &__wrapper {
    position: relative;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__cta {
    position: absolute;
    bottom: 0;
    padding: 30px;
    font-size: 30px;
    text-align: center;
    clip-path: polygon(100% 0, 100% 80%, 93% 100%, 0 100%, 0 22%, 7% 0);
    background-color: $ui-color-yellow;
    font-family: "Cyberpunk";
    &-btn {
      margin-top: 25px;
    }
  }
}

@media screen and (min-width: 768px) {
  .promo {
    &__cta-wrapper {
      display: flex;
      justify-content: flex-end;
    }
    &__cta {
      right: 40px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .promo {
    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__wrapper {
      gap: 40px;
    }
    &__logo {
      margin: 0 0;
    }
    &__icon {
      width: 30px;
      height: 30px;
    }
  }
}
